*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: #05f5b6;
     */
     background:#222;
}
.container{
    width: 90%;
    max-width: 470px;
    background:linear-gradient(135deg,#00feba,#5b548a);
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search-box{
            /* height: 35px;
            border: 2px solid white;
            border-radius:28px;   
            width: 50%; */
            width: 100%;
            display: flex;
            /* align-items: center; */
            justify-content:center;
            
}
.search-box input{
    height: 35px;
    width: 60%;
            border: 0;
            border-radius: 20px;
            padding:0px 0px 0px 18px;
            outline: none;
        }
.search-button{
    outline: none;
    border: 2px solid white;
    margin: 0px 0px 0px 5px;
    /* background-color: red; */
    border-radius: 50%;
}
.search-box img{
    height:40%;
    width: 40%;
}
.cloud-icon{ 
    width: 170px;
    margin-top: 30px;

}
.container h1{
    font-size:80px;
    font-weight: 500;
}
.container h2{
        font-size:80px;
        font-weight: 500;
        margin-top: -10px;
    
    }
    .details{
        display: flex;
        align-items: center;
        justify-content:space-between;
        padding: 0px 20px;
        margin-top: 50px;
    }
    .col{
        /* display: flex; */
        align-items:center;
        
    }
   .col1 img{
    width: 40px;
    margin-right: 10px;
   } 






